---
import 'the-new-css-reset';
import '@/styles/global.scss';

import '@fontsource/dm-serif-text';
import '@fontsource-variable/noto-serif-jp';
import '@fontsource-variable/noto-sans-jp';

import Header from '@/components/header/Header.astro';
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <div class="wrap">
      <Header />
      <slot />
    </div>
  </body>
</html>

<style>
.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f7;
}
</style>
